{{!-- <nav class="nav-bar">
  <ul class="nav">
    <li><LinkTo @route="index">Brain-Box Trivia</LinkTo></li>
    <li><LinkTo @route="index">Ask ChatGPT</LinkTo></li>
  </ul>
</nav> --}}

<nav>
  <ul>
    {{#each @links as |link|}}
      <li>
        <LinkTo
          @route={{link.route}}
        >
          {{link.label}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</nav>